body {
    font-family: "Lato", sans-serif;
    background-color: #F3F6F9;
}

.sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 120px;
}

    .sidebar a {
        padding: 12px 8px 12px 16px;
        text-decoration: none;
        font-size: 17px;
        color: grey;
        display: block;
        margin-top: 10px;
    }

        .sidebar a:hover {
            color: #009CFF;
            background-color: #F3F6F9;
            border-radius: 30px;
            margin-right: 20px;
            text-decoration:none;
            
        }


.main {
    margin-left: 260px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

.b {
    color: grey;
}

a:hover
{
   
}
