@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}



<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
        <form id="profile-form" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>

             <div class="form-group">
                <label asp-for="Input.UserFirstName"></label>
                <input asp-for="Input.UserFirstName" class="form-control"  />
            </div>

                        <div class="form-group">
                <label asp-for="Input.UserCity"></label>
                <input asp-for="Input.UserCity" class="form-control"  />
            </div>

            <div class="form-group">
                <label asp-for="Input.UserAddress"></label>
                <input asp-for="Input.UserAddress" class="form-control"  />
            </div>

            <div class="form-group">
                <label asp-for="Input.UserPhone"></label>
                <input asp-for="Input.UserPhone" class="form-control" />
                <span asp-validation-for="Input.UserPhone" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
    </div>
    <div class="col-md-6">
        <div class  ="form-group" >
                <label asp-for="Input.Userimage" class="w-100"></label>
                @if (Model.Input.Userimage != null)
                {
                    <img id="profilePic" alt = "profile" style="width:350px; height:350px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.Userimage))" />
                }
                else
                {
                    
                    <img  id="profilePic" alt="profile" style="width:350px; height:350px;" src="~/defaultProfilePic/avatar.png" />   
                    
                }
                <div class="custom-file mt-2">
                    <input type="file" accept="image/*" asp-for="Input.Userimage" class="custom-file-input" onchange=" document.getElementById('profilePic').src = window.URL.createObjectURL(this.files[0])" />
                    <label class="custom-file-label" asp-for="Input.Userimage">Cloose Picture</label>
                </div>

        </div>
    </div>
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}