@using System.Collections
@using Microsoft.AspNetCore.Http
@using static System.Net.WebRequestMethods
@model IEnumerable<E_commerce_website.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    List<ProductCategory> CategoryList = ViewBag.categories;

}

    <link rel="stylesheet" href="~/css/CartStyle.css"> 
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">


<body>

    <!-- header section strats -->
  
    <!-- end header section -->
    <!-- slider section -->

    <section class="slider_section ">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Welcome To Our <br>
                        SHOPIFY Shop
                      </h1>
                     
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="images/slider-img.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            @for (var i = 0; i < 2; i++)
           {
               <div class="carousel-item ">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Welcome To Our <br>
                        Gift Shop
                      </h1>
                      <p>
                        Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non necessitatibus error distinctio mollitia suscipit. Nostrum fugit doloribus consequatur distinctio esse, possimus maiores aliquid repellat beatae cum, perspiciatis enim, accusantium perferendis.
                      </p>
                      <a href="">
                        Contact Us
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="images/slider-img.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
           }

      </div>
      </div>
     
    </section>
    
    <!-- end slider section -->
     @await Html.PartialAsync("showProductsByCategoryID",CategoryList)
    <!-- end hero area -->

  <!-- shop section -->


                                  @* START Partial View here for products  *@
                  

     @section Scripts{
			                <script>
                                    var img = "";
					                function GetProduct(){
						                console.log($("#category").val());
                                        var CategoryID=$("#category").val();
                                        //var CategoryName=$("#category").val().CategoryName;
                                        $("#productCard").html("");
                                        $.ajax(
                                            {
                                                url:"/Home/getProductbyId",
                                                data:{"CategoryID":CategoryID},
                                                success:function(result){
                                                    for(let i=0; i<result.length;i++){
                                                    console.log(result[i].productName);
                                                    img = result[i].productImage;
                                                    console.log(result);
                                                    var id = result[i].productID;
                                                    console.log(result[i]);
                                                   $("#productCard").append(`
                                       <div class="col-md-3">
                                        <div class="wsk-cp-product">
                                          <div class="wsk-cp-img">
                                        <div class="img-box">
                                        <a href="ClientArea/Products/Details/${id}" >
                                            <img src="/dbImages/${img}" />
                                        </a>
                                          </div>                     
                                          </div>
                                          <div class="wsk-cp-text">
            
                                            <div class="title-product">
                                              <h3>${result[i].productName}</h3>
                                            </div>
           
                                            <div class="card-footer">
                                              <div class="wcf-left"><span class="price" style="padding-left: 10px;"> Price :${result[i].productPrice} EGP</span></div>
                                              <br><br>
                                        <a href="ClientArea/Products/Details/${id}" class="btn btn-primary btn-lg" >
                                            Add To Cart <i class="fa fa-lg fa-cart-plus" style="color:white;"></i>
                                        </a>                                   
                                        </div>
                                       </div>
                                      </div>
                                     </div>
                                     `
                                     )
                                }
                            }
                        }
                    )
				}
			                </script>
}

                                        
  <section class="shop_section layout_padding bg-light">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row" id="productCard">
         
                          @foreach(var item in Model){
                                      <div class="col-md-3" style="margin-bottom:60px">
                                        <div class="wsk-cp-product">
                                          <div class="wsk-cp-img">
                                        <div class="img-box" style="margin-bottom:2px">

                                          <a asp-action="Details" asp-controller="Products" asp-area = "ClientArea" asp-route-id=@item.ProductID>

                                                <img src= "~/dbImages/@item.ProductImage" alt="">
                                          </a>

                                          </div>                     
                                          </div>
                                          <div class="wsk-cp-text">
            
                                            <div class="title-product" style="margin-top:1px">
                                              <h3>@item.ProductName</h3>
                                            </div>
           
                                            <div class="card-footer">
                                              <div class="wcf-left"><span class="price" style="padding-left: 10px; color:black"> Price :@item.ProductPrice EGP</span></div>
                                              <br><br>

                                       <a  class="btn btn-primary btn-lg" style="background-color:#f89cab;border-radius:5px;border-color:#f89cab;font-size:18px" asp-action="Details" asp-controller="Products" asp-area = "ClientArea" asp-route-id=@item.ProductID >
                                           Add To Cart <i class="fa fa-cart-plus" style="color:white"></i>
                                       </a>   

                                        </div>
                                       </div>
                                      </div>
                                     </div>

                                     }
                          </div>
                         </div>
             </section>



                                 @* END   Partial View here for products  *@
        
      

      <div class="btn-box">
        <a href="">
          <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#f89cab;border-radius:5px;border-color:#f89cab;font-size:18px;width:50%;margin-left:25%">View All Products</button>
        </a>
      </div>

      <br /><br /><br />

  <section class="contact_section ">
    <div class="container px-0">
      <div class="heading_container ">
        <h2 class="">
          Contact Us
        </h2>
      </div>
    </div>
    <div class="container container-bg">
      <div class="row">
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 px-0">
          <form method="post" action="#">
            <div>
              <input name="txtname" type="text" placeholder="Name" />
            </div>
            <div>
              <input name="txtemail" type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" name="txtphone" placeholder="Phone" />
            </div>
            <div>
              <input type="text" name="txtmsg" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
             <input style="background: #f89cab;" type="submit" value="SEND"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

 
  <!-- end client section -->

  <!-- info section -->

  

  <!-- end info section -->

</body>