@using Microsoft.Extensions.Options
@using  E_commerce_website.Controllers
@inject IOptions<StripeSettings> Stripe
<link rel="stylesheet" href="~/css/CartStyle.css"> 

<body>

 <div class="row">

        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Order Details</b></h4>
                    </div>
                    
                </div>
            </div>
           
              <div class="row">
              
                <form  asp-action="Create" asp-controller="Orders"  style="display:contents"   >
                   
                            <div class="input-group row  mb-3 mx-3"> <input type="text" class="form-control" placeholder="Name"> </div>
                            <div class="input-group  mb-3 mx-3"> <input type="text" class="form-control" name="OrderEmail"  placeholder="Email"> </div>
                            <div class="input-group  mb-3 mx-3"> <input type="text" class="form-control" name="OrderPhone" placeholder="Phone Number"> </div>
                            <div class="input-group  mb-3 mx-3"> <input type="text" class="form-control" name="ShippingAddress" placeholder="Street address"> </div>
                            <div class="input-group  mb-3 mx-3"> <input type="text" class="form-control" name="OrderCity" placeholder="City"> </div>
                            <div class="input-group  mb-3 mx-3"> <input type="text" class="form-control" name="OrderCountry"  placeholder="Country"> </div>
                           @* <input type="text" hidden class="form-control" name="OrderAmount"  value=@Model> 
                       *@
                             
                    


                   

                        <div class="input-group  mb-3 mx-3">

                            <button type="submit" class="btn" style="background-color:#f89cab;width:30%;margin-left:20%;border-color:#f89cab;border-radius:5px;font-size:15px"> CHECKOUT</button>
                        </div>

                </form>
                   
              </div>    
             
         
            <div class="back-to-shop">
             <a asp-action="Index" asp-controller="Cart" asp-area="ClientArea">
              <i class="fa fa-arrow-alt-circle-left" style="color:#f89cab"></i>
             </a>   
             <span class="text-muted">Back to Cart </span>
            </div>
          
        </div>


       
 <div class="col-md-4" style="height:400px;margin-top:5%">
        
           @Html.Partial("~/Areas/ClientArea/Views/Maps/Index.cshtml")
 </div>

</div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
