 @model IEnumerable<E_commerce_website.Models.Order>

<link rel="stylesheet" href="~/css/CartStyle.css"> 


<body style="background-color:white">
     
<div class="container">
        <div class="heading_container heading_center" style="margin:60px">
        <h2>
            Order History
        </h2>
        </div>
      

    @foreach(var item in Model){
        <div class="card mt-3" style="width:700px">
            <div class="card-header">
            Date : @item.OrderDate
            </div>
            <div class="card-body">
                        @foreach(var order in item.OrderDetails)
                            {
                                <div class="row">
                                    <div class="col-5">
                                        <div class="row" style="margin-left:35px;margin-top:30px;font-family:Garamond;font-size:15px">
                                            <div class="col-10">
                                                <p  style="color:black">Product : @order.ProductName </p>
                                             </div>
                                             <br/>
                                             <div class="col-10">
                                               <p style="font:large">Quantity: <span style="font:medium;"> @order.Quanity </span></p>
                                             </div>
                                             <div class="col-10">
                                              <p>Total Price @item.OrderAmount</p>
                                              </div>
                                         </div>
                                    </div>
                                     <div class="col-5">
                                        <img class="card-img" style="float:right;width:70%" src="~/dbImages/@order.Product.ProductImage"/>
                                    </div>
                                </div>
                                <br />
                                <hr />
                                <br />
                            }
                       
            </div>
        </div>
    }
          
    </div>  
      
</body>