@model IEnumerable<E_commerce_website.Models.Order>

<link rel="stylesheet" href="~/css/CartStyle.css"> 


<body style="background-color:white">
     
<div class="container">
        <div class="heading_container heading_center">
        <h2>
            Order History
        </h2>
        </div>
      

    @foreach(var item in Model){
        <div class="card mt-3">
            <div class="card-header">
            Order at Day @item.OrderDate
            </div>
            <div class="card-body">
                        @foreach(var order in item.OrderDetails)
                            {
                                <div class="row">
                                    <div class="col-5">
                                        <div class="row">
                                            <div class="col-10">
                                                <span class="text-muted" style="font:xx-large">Product @order.ProductName </span>
                                             </div>
                                             <br/>
                                             <div class="col-10">
                                               <p style="font:large">Quantity: <span style="font:medium"> @order.Quanity </span></p>
                                             </div>
                                         </div>
                                    </div>
                                     <div class="col-5">
                                        <img class="card-img" style="float:right;width:50%" src="~/dbImages/@order.Product.ProductImage"/>
                                    </div>
                                </div>
                            }
                        <p>Total Price @item.OrderAmount</p>
            </div>
        </div>
    }
          
    </div>  
      
</body>


