@using E_commerce_website.Areas.AdminArea.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["title"] = "Manage Roles";
}

@model UserRoles

<form method="post">
    <div class="card mt-4">
        <div class="card-header">
            <h2>@Model.UserName</h2>
            Add/Remove Roles
    </div>
    <div class="card-body">
            <input type="hidden"/>

    </div>

    </div>
</form>
